<div id="container">
  <nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">AkKe Blog</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLinkActive="class" routerLink="login">Login</a></li>
        <li><a routerLinkActive="class" routerLink="register">Register</a></li>
      </ul>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a routerLink="home" routerLinkActive="active">Home</a></li>
        <li class="tab"><a routerLink="news" routerLinkActive="active">News</a></li>
        <li class="tab"><a routerLink="blog" routerLinkActive="active">Blog</a></li>
        <li class="tab"><a routerLink="contact" routerLinkActive="active">Contact</a></li>
        <li class="tab"><a routerLink="help" routerLinkActive="active">Help</a></li>
      </ul>
    </div>
  </nav>

</div>
