<div class="chip">
  <img src="http://lorempixel.com/50/50/sports" alt="Contact Person">
  Sports
</div>
<div class="chip">
  Tech
  <i class="close material-icons">close</i>
</div>
<div class="chip">
  PHP
  <i class="close material-icons">close</i>
</div>
<div class="chip">
  Python
  <i class="close material-icons">close</i>
</div>
<div class="chip">
  Google
  <i class="close material-icons">close</i>
</div>
<div class="chip">
  Ruby
  <i class="close material-icons">close</i>
</div>
<div class="chip">
  Rails
  <i class="close material-icons">close</i>
</div>
<div class="chip">
  Perl
  <i class="close material-icons">close</i>
</div><div class="chip">
  Swift
  <i class="close material-icons">close</i>
</div>
<div class="chip">
  Framework
  <i class="close material-icons">close</i>
</div>
<div class="chip">
  HTML&CSS
  <i class="close material-icons">close</i>
</div>



